@CHARSET "UTF-8";
html, body{
	margin:1px;
	padding: 2px;
	height:100%;
	width:100%;
	background-color: #00BFFF; /*light gray */;
	text-align:center;
}
a:hover {
    font-style: bold;
    border:1px solid grey;
}
#mainBorder{
	height:50px;
	width:100%;
	position:absolute;
	border: 1px solid blue;
}
#leftBorder{
	display:inline-block;
	margin:15px;
	float:left;
	position:relative;
	
	
}
#rightBorder{
	display:inline-block;
	margin:15px 15px 15px 2px;
	float:right;
	position:relative;
	
	
}
#bottomBorder{
	display:inline-block;
	margin:15px;
 	left:0%;
	position:relative;
	float:center;
	/* border: 1px solid black; */

}


.contactcard{
	display:inline-block;
	margin: 0 auto;
	background-color:grey;
	border:1px solid white;
	position:absolute;
	left:40%;
	top:50%
}
p{
	text-align:center;
}