html, body{
	margin:1px;
	padding: 2px;
	height:100%;
	width:100%;
	background-color: #D3D3D3; /*light gray */;
	text-align:center;
}
a:hover {
    font-style: bold;
    border:1px solid grey;
}
#mainBorder{
	height:50px;
	width:100%;
	position:absolute;
	border: 1px solid blue;
}
#leftBorder{
	display:inline-block;
	margin:15px;
	float:left;
	position:relative;
	
	
}
#rightBorder{
	display:inline-block;
	margin:15px 15px 15px 2px;
	float:right;
	position:relative;
	
	
}
#bottomBorder{
	display:inline-block;
	margin:15px;
 	left:0%;
	position:relative;
	float:center;
	/* border: 1px solid black; */

}
#blogPost{
	margin:60px 15px 15px 15px;
	width:80%;
	border:2px solid #191970; /*midnight blue*/
	clear:both;
	float:left;
	text-align:left;
	height: 400px;
}