html{
	background-color:darkblue;
}


body{
	background-color:white;
	}
p{
	color:grey;
	}
div{

	width:500px;
	height:500px;																										
	background-color:white;
	border:2px solid grey;
	border-radius:5px;
	}
img{
	height:auto
}
